{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wszystkie mecze sezonu</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('best_player_in_season', { 'seasonNumber': seasonNumber }) }}">Ranking graczy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('all_games_in_season', { 'seasonNumber': seasonNumber }) }}">Wyniki drużynowe</a>
        </li>
    </ul>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Mecz nr.</th>
            <th scope="col">Drużyna A</th>
            <th scope="col">Drużyna B</th>
        </tr>
        </thead>
        <tbody>
        {% set scoreNumber = 1 %}

        {% for score in scores %}
        <tr>
            <th scope="row">{{ scoreNumber }}</th>
            <td {% if score[0]['result'] == 1 %}  class="table-success" {% elseif score[0]['result'] == 0 %} class="table-danger" {% endif %}>{{ score[0]['playerOne'] }}, {{ score[0]['playerTwo'] }}, {{ score[0]['points'] }}</td>
            <td {% if score[1]['result'] == 1 %}  class="table-success" {% elseif score[1]['result'] == 0 %} class="table-danger" {% endif %}>{{ score[1]['playerOne'] }}, {{ score[1]['playerTwo'] }}, {{ score[1]['points'] }}</td>
            {% set scoreNumber = scoreNumber + 1 %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
