{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ranking graczy w sezonie</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('best_player_in_season', { 'seasonNumber': seasonNumber }) }}">Ranking graczy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('all_games_in_season', { 'seasonNumber': seasonNumber }) }}">Wyniki drużynowe</a>
        </li>
    </ul>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Mecz nr.</th>
            <th scope="col">Imie</th>
            <th scope="col">Drużyna B</th>
        </tr>
        </thead>
        <tbody>
        {% set scoreNumber = 1 %}
        {% for score in scores %}
        <tr>
            <th scope="row">{{ scoreNumber }}</th>
            <td>{{ score['name'] }}</td>
            <td>{{ score['points'] }}</td>
            {% set scoreNumber = scoreNumber + 1 %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
