{% extends 'base.html.twig' %}

{% block body %}

<h1>Wyniki</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sezon nr.</th>
            <th scope="col">Start</th>
            <th scope="col">Koniec</th>
            <th scope="col">Pokaż</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
        <tr>
            <th scope="row">{{ season['seasonId'] }}
            <td> {{ season['startTime'] |date('Y-m-d H:i:s') }} </td>
            <td> {{ season['endTime'] |date('Y-m-d H:i:s') }} </td>
            <td> <a class="btn btn-primary" href="{{ path('best_player_in_season', { 'seasonNumber': season['seasonId'] }) }}" role="button">Pokaż</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
