{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <a class="btn btn-danger" href="{{ path('play_matches', { 'seasonId': seasonId }) }}" role="button">Rozegraj mecze</a>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Mecz nr.</th>
            <th scope="col">Drużyna A</th>
            <th scope="col">Drużyna B</th>
        </tr>
        </thead>
        <tbody>
        {% set matchNumber = 1 %}
        {% for match in competition %}
        <tr>
            <th scope="row">{{ matchNumber }}</th>
            {% for mat in match %}
                <td>{{ mat['player1'] }} i {{ mat['player2'] }}</td>
            {% endfor %}
            {% set matchNumber = matchNumber + 1 %}
        {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}
