{% extends 'base.html.twig' %}

{% block body %}

<h1>ROZEGRANE MECZE</h1>
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Mecz nr.</th>
        <th scope="col">Drużyna A</th>
        <th scope="col">Drużyna B</th>
    </tr>
    </thead>
    <tbody>
    {% set matchNumber = 1 %}
    {% for match in gameResults %}
    <tr>
        <th scope="row">{{ matchNumber }}</th>
        {% for mat in match %}
            <td {% if mat['result'] == 1 %}  class="table-success" {% elseif mat['result'] == 0 %} class="table-danger" {% endif %}>{{ mat['player1'] }} i {{ mat['player2'] }} {{ mat['points'] }}</td>
        {% endfor %}
        {% set matchNumber = matchNumber + 1 %}
        {% endfor %}
    </tr>
    </tbody>
    </table>

{% endblock %}