{% extends 'base.html.twig' %}

{% block body %}

<h1>Określ liczbę graczy</h1>
<p class="text-danger">W przypadku wyboru więcej niż 5 graczy, generowanie meczy może trochę potrwać :)</p>
    <form method="POST" action="{{ path('players_names_forms') }}">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playersNumber" id="exampleRadios1" value=4 checked>
            <label class="form-check-label" for="exampleRadios1">
                4 graczy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playersNumber" id="exampleRadios2" value=5>
            <label class="form-check-label" for="exampleRadios2">
                5 graczy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playersNumber" id="exampleRadios3" value=6>
            <label class="form-check-label" for="exampleRadios3">
                6 graczy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playersNumber" id="exampleRadios4" value=7>
            <label class="form-check-label" for="exampleRadios4">
                7 graczy
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="playersNumber" id="exampleRadios5" value=8>
            <label class="form-check-label" for="exampleRadios5">
                8 graczy
            </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Dalej</button>
    </form>

{% endblock %}
