{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista dodanych graczy</h1>
    <ul class="list-group">
        <li class="list-group-item active">Gracze</li>
    {% for player in players %}
        <li class="list-group-item">{{ player.name }}</li>
    {% endfor %}
    </ul>
    <br>
    <a class="btn btn-primary" href="{{ path('create_teams', { 'seasonId': seasonId }) }}" role="button">Generuj mecze</a>
{% endblock %}