{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wpisz imiona graczy</h1>
    <p class="text-danger">Aby rozgrywka zadziałała poprawnie, imiona nie mogą się powtarzać</p>
    <form  method="post" action="{{ path('create_season_and_players') }}">
        {% for player in 1..numberOfPlayers %}
            <div class="form-group">
                <label for="player{{ player }}">Gracz numer {{ player }}</label>
                <input class="form-control form-control-sm" id="player{{ player }}" type="text" name="player{{ player }}" required>
            </div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Stwórz rozgrywkę</button>
        </div>
    </form>
{% endblock %}